<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yukino.myapplication">
    <!-- link internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 百度地图API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bilibili"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Student4"
            android:label="student id: 1630003064"
            />
        <activity android:name=".Student3"
            android:label="student id: 1630003020"
            />
        <activity android:name=".Student2"
            android:label="student id: 1630003010"
            />
        <activity android:name=".Student1"
            android:label="student id: 1"
            />
        <activity android:name=".List"
            android:label="Student List"
            />
        <activity android:name=".password"
            android:label="Change Password"
            />
        <activity android:name=".result"
            android:label="Result"
            />
        <activity android:name=".Local"
            android:label="Teacher Location"
            />
        <activity android:name=".teacher_course"
            android:label="Course"
            />
        <activity
            android:name=".BaiDuMapActivity"
            android:label="Map of Attendance"
            android:parentActivityName=".result" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.yukino.myapplication.result" />

        <activity
            android:name=".LoginActivity"
            android:label="Teacher Client"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yukino.myapplication.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="jsfiMBaIfHwdGcgPfRAPkgRytbDSRp4H" />
    </application>

</manifest>